@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local("Jost"), url(fonts/Jost-Regular.woff2),
    url(fonts/Jost-Regular.woff);
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: local("Jost"), url(fonts/Jost-SemiBold.woff2),
    url(fonts/Jost-SemiBold.woff);
}
